# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Visual Studio Code
.vscode/
*.code-workspace

# Hardhat
artifacts/
cache/
coverage/
node_modules/
reports/
node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
